body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .container{
  height: 100vh;
  width: 100vw;
 
}  */
.leaflet-container{
  height: 640px;
  width: 360px;
}
.mobile-container{
  height: 640px;
  width: 360px;
  border-style: solid;
  border-width: 20px;
  position: absolute;
  left: 20%;
  top: 50px;
  border-radius: 20px;
}